#Fond{
    
	width: 90%;
    margin:0 auto; 
    text-align: center;
    
    
    
    
   
}
body{
    
    background-size: cover;
    background-position-x: initial;
    background-position-y: initial;
    background-repeat:initial ;
    background-attachment: fixed;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    
}
h1{
    
    margin: auto;
    text-align: center;
    width: 30%;
}
#Perso{
    background-color: rgba(50, 50, 50, 0.75);
    margin-top:0 auto;
    width: 30%;
    position: relative;
    
    
}
#Perso h3 {
    
    font-size: 20px;
    color: white;
    text-shadow: 3px 3px 1px darkcyan;
    margin: auto;
   
}
#Perso p {
    color: aquamarine;
    
}
h2{
    
    text-shadow: 2px 2px 2px darkcyan;
    color:darkblue;
}
ul{
    
    display: flex;
    justify-content: space-between;
    margin:0 auto;

}
li{
    text-align: center;
    list-style: none;
    margin:0 auto;
    
    

}
#nbrEp{
    background-color: rgba(50, 50, 50, 0.75);
    color: aqua;
    text-align: center;
    margin:  auto;
    width: 25%;
    

    
}

#info{
    
    background-color: rgba(50, 50, 50, 0.75);
    width: 30%;
    float: right;
    justify-content: center;
    text-align: center;
}
#info p{
    color: aqua;
}
#info h2{
    background-color:aquamarine;
    text-shadow: 2px 2px 2px blue;
    margin-top: auto;
}
#info h3{
    color: azure;
    background-color: blue;
    text-shadow: 2px 2px 2px aquamarine;
}
#logo{
    display: flex;
    justify-content: space-between;
}
#logo1{
    width: 25%;
    
    margin-left: 10%;
   
    
   
}
#logo2{
    width: 28%;
    
    margin-right:10% ;
    
    
}
#movies{
    background-color: rgba(50, 50, 50, 0.75);
    width: 30%;
    float: left;
}
#movies p{
    color: aqua;
}
#movies h2{
    background-color:aquamarine;
    text-shadow: 2px 2px 2px blue;
    margin-top: auto;
}
#movies h3 {
    color: azure;
    background-color: blue;
    text-shadow: 2px 2px 2px aquamarine;
}
#resum{
    background-color: rgba(50, 50, 50, 0.75);
    color: aqua;
    font-size: 20px;
    width: 85%;
    margin: auto;
}
#resum h2{
    margin-bottom: -15px;
}
#un{
    background-color: rgba(50, 50, 50, 0.75);
   
   
}
.espace{
    height: 100px;
    
}
#zoom1:hover{
    transform: scale(1.1);
}
#zoom2:hover{
    transform: scale(1.1);
}
#zoom1, #zoom2 {
    cursor: pointer;
    text-align: center;
    width: 15%;
    position: absolute;
    top: 40%;
    font-size: 50px;
}
#zoom1{
    left: 0;
}
#zoom2{
    right: 0;
}
#house{
    display: flex;
    float: left;
    background-color:darkcyan;
    margin:0 auto;
   width: 3%;

}
#house :hover{
    transform: scale(1.1);
}

#rin{
    display: flex;
    float: right;
    width: 5%;
    
}
#rin :hover{
    transform: scale(1.1);
    cursor: pointer;
}
#music{
    width: 100%;
}