

body{

    background-image: url("IMG/opfond.jpg");
    background-size: cover;
    background-position-x: initial;
    background-position-y: initial;
    background-repeat:initial ;
    background-attachment: fixed;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    
}
#Fond{
    
    max-width:1000px;
	width: 95%;
    margin:0 auto; 
    text-align: center;
    background-color: rgba(236, 193, 1, 0.94);

}

h1{
    
    
    margin: auto;
    text-align: center;
    max-width:500px;
    width: 60%;

}

.button{

    background-color: rgba(255, 140, 0, 0.7);
    margin: auto;
    text-align: center;
    max-width:500px;
    width: 18%;
    font-size: 150%;

}

h2{

    color: white;

}

.button:hover{

    transform: scale(1.03);

}

.image{
   
    display:flex;
    justify-content: center;
    align-items: center;
    max-width:1000px;
	width: 95%;
    margin:0 auto; 
    text-align: center;
    
}

.textperso{

    justify-self: center;

}

#slide{

    width: 30%;
    
}

#slider{

    justify-content: center;
    align-items: center;

}

#solo{
    justify-content: center;
    flex-direction: row;
}

#logotop{
    
    margin: auto;
    text-align: center;
    max-width:500px;
    width: 60%;

}

.zoom1:hover{
    transform: scale(1.03);
}

.zoom2:hover{
    transform: scale(1.1);
}









