
#Fond{
    width: 1000px;
    margin: auto; 
    text-align: center;
}

body{
    background-image: url("IMG/Fond3.png");
    background-size: cover;
    background-position-x: initial;
    background-position-y: initial;
    background-repeat:initial ;
    background-attachment: fixed;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
}

.TOP{

    width: 300px;
    margin:0 auto;
    text-align: center;
    align-content: center;
    background-color:rgba(125, 125, 125, 0.75);
}



ul{
    display: flex;
justify-content:center;
justify-content: space-around;
}

li{
    list-style: none;
}

img{
    text-align: center;
}

h1{
    background-color: rgba(125, 125, 125, 0.75);
    margin: auto;
    text-align: center;
    width: 60%;
}

.zoom1:hover{
    transform: scale(1.1);
}

.zoom2:hover{
    transform: scale(1.01);
}



