#Fond{
    width: 1000px;
    margin: auto; 
    text-align: center;
    
   
}
body{
    background-image: url("IMG/manga.jpg");
    background-size: cover;
    background-position-x: initial;
    background-position-y: initial;
    background-repeat:initial ;
    background-attachment: fixed;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
}
.TOP{
    
	width: 300px;
	margin:0 auto;
	text-align: center;
	align-content: center;
	background-color: red;
	
}
ul{
    display: flex;
justify-content:center;
justify-content: space-around;
}
li{
    list-style: none;
}
#Img{
    background-color: rgb(0, 0, 0);
}
img{
    text-align: center;
}

h1 {
    text-shadow: 2px 2px 2px red;

}
script {
    width: 50%;

}
