#Personnages {
    text-align: center;
    font-family: fantasy;
    
}

.anime{


    max-width:700px;
	width: 95%;
    margin:0 auto;
    font-weight: bold;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
}

h1{
    margin: auto;
    text-align: center;
    max-width:500px;
    width: 60%;

}

body{
    background-image: url("IMG/shingeki-no-kyojin.jpg");
    background-size: cover;
    background-position-x: initial;
    background-position-y: initial;
    background-repeat:initial ;
    background-attachment: fixed;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    
}

ul{
    display: flex;
justify-content: space-around;
}

li{
    list-style: none;
}
.desc {
    font-size: 80%;
    max-width:450px;
	width: 95%;
    margin:0 auto;
    text-align: center;
    align-content: flex-end;
    font-weight: bold;
    color: white;
    background-color: rgba(20, 4, 240, 0.788);
}

.accueil {
    text-align: center;
}

h2 {
    text-align: center;
}

.Episodes {
    text-align: center;
    font-weight: bold;

}

.saison4 {
    text-align: center;
}


h2 {
    text-decoration: underline;
}

.zoom2:hover{
    transform: scale(1.10);
}

.logo {
    font-size: 80%;
    max-width:450px;
	width: 95%;
    margin:0 auto;
    text-align: center;
    align-content: flex-end;

    
}
